<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Starter Recipes</title>
    <!-- styling for navbar -->
    <style>
      :root {
        --main: #0c356a;
        --light: #0174be;
        --accent: #fff0ce;
        --yellow: #ffc436;
        --text: #1d1d1d;
      }

      .navbar {
        background-color: #fff;
        z-index: 1;
        width: 100%;
        padding: 0 100px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 20px 20px;
      }

      .navbar-h {
        margin-top: 40px;
      }

      .navbar-list ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
      }

      .navbar-list ul li {
        margin-left: 50px;
      }

      .navbar-list ul li a {
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--text);
        font-weight: 700;
        display: block;
      }

      .navbar ul li a:hover {
        text-decoration: none;
        color: var(--light);
      }

      .navbar-list ul li button {
        background-color: var(--main);
        text-transform: uppercase;
        font-size: 16px;
        border: none;
        padding: 10px 20px;
        font-weight: bold;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;
      }

      .navbar-list ul li button:hover {
        background-color: var(--light);
      }

      .navbar-list ul li button a {
        color: #fff;
        text-decoration: none;
      }

      .navbar-list ul li button a:hover {
        color: #fff;
      }

      .scroll {
        background: #fff;
        top: -100px;
        border-radius: 20px;
        width: 90%;
        animation: fadedown 0.4s ease 0.75s forwards;
      }

      .navbar-brand {
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
      }

      @keyframes fadedown {
        0% {
          top: -100px;
        }
        100% {
          top: 20px;
        }
      }
    </style>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="navbar-brand">
        <img src="../assets/img/logo/logo-1.png" alt="" width="80px" />
      </div>

      <div class="navbar-list">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="#">Recipes</a></li>
          <li><a href="aboutUs.html">About Us</a></li>
          <li>
            <button>
              <a style="color: #fff" href="login.html"> Login / Register</a>
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <!-- BODY -->
    <main class="container recipe-container">
      <div class="recipe-head">
        <article>
          <h2>Starter Recipes</h2>
          <p>
            Scroll down to view the recipes or click the dropdown menu to see
            other categories
          </p>
          <details role="list">
            <summary aria-haspopup="listbox">Starter</summary>
            <ul role="listbox">
              <li><a href="maincourse.html">Main course</a></li>
              <li><a href="dessert.html">Dessert</a></li>
              <li><a href="pizza.html">Pizza</a></li>
              <li><a href="cake.html">Cake</a></li>
              <li><a href="noodles.html">Noodles</a></li>
            </ul>
          </details>
        </article>
      </div>

      <!-- RECIPE 1 -->
      <div class="recipes hidden">
        <img src="../assets/img/recipes/ricecake.jpg" alt="" />
        <h3 style="margin-top: 10px; margin-bottom: 10px">
          <center>Grilled walnut glutinous rice cake</center>
        </h3>
        <p style="padding-left: 10px">
          <b style="font-size: 24px; text-decoration: underline"
            >Ingredients:</b
          >
          <br />
          200g Glutinous rice powder, 100ml Hot water, 40g Allulose (or sugar)
          and 2g Salt

          <br />

          <b>Filling:</b>
          Red bean fillin, Sweet Potato filling and Walnut

          <br />

          <b>Sweet Potato Filling:</b>
          200g Sweet potato, 20g Allulose (or sugar), 20g Room temperature
          unsalted butter, 2 pinches of salt and 3-5 Tbsp Milk (depending on
          sweet potato moisture level)
          <br />
          <br />

          <b style="font-size: 24px; text-decoration: underline"
            >Instructions:</b
          >

          <br />

          <b>Sweet Potato Filling:</b>

          <br />

          1. Cook and mash sweet potato.
          <br />
          2. Mix in allulose, butter, salt, and milk until creamy and set aside

          <br />
          <br />
          <b>Grilled Rice Cakes:</b>
          <br />
          1. Mix glutinous rice powder, hot water, allulose, and salt to form
          dough.
          <br />

          2. Make small dough balls, add chosen filling, and seal.
          <br />
          3. Grill cakes on a lightly greased pan until golden and slightly
          crispy.
          <br />
          4. Serve after cooling slightly.
          <br />
          <small>
            <center>Experiment with different fillings for variety!</center>
          </small>
        </p>
        <center>
          <div class="recipes">
            <iframe
              style="margin-left: -45px"
              width="859 px"
              height="483 px"
              class="video-box"
              src="https://www.youtube.com/embed/83hjrP8mDR0?si=g3VFn3bw64VJ7wll"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
              >
            </iframe>
          </div>
        </center>
      </div>

      <hr />

      <!-- RECIPE 2 -->
      <div class="recipes hidden">
        <img src="../assets/img/recipes/garlic potato.jpg" alt="" />
        <h3 style="margin-top: 10px; margin-bottom: 10px">
          <center>Crispy Garlic Cheese Potatoes</center>
        </h3>
        <p style="padding-left: 10px">
          <b style="font-size: 24px; text-decoration: underline"
            >Ingredients:</b
          >
          <br />
          Potatoes, Parmesan Cheese, Minced Garlic, Bread Crumbs, Oregano, Salt,
          Olive Oil, Corn Starch or Potato Starch and Red Pepper Powder

          <br />
          <br />

          <b style="font-size: 24px; text-decoration: underline"
            >Instructions:</b
          >

          <br />

          1. Preheat your oven to 400°F (200°C). <br />
          2. Wash and peel the potatoes. Cut them into cubes or wedges,
          according to your preference. <br />
          3. In a bowl, mix together bread crumbs, grated Parmesan cheese,
          oregano, minced garlic, and a pinch of red pepper powder for a kick.
          <br />
          4. Toss the potato pieces in a separate bowl with a mix of olive oil
          and corn starch or potato starch until they are evenly coated. <br />
          5. Roll the starch-coated potato pieces in the breadcrumb and cheese
          mixture until they're thoroughly covered. <br />
          6. Place the coated potatoes on a baking sheet lined with parchment
          paper, making sure they're in a single layer to ensure even crisping.
          <br />
          7. Drizzle a bit more olive oil over the coated potatoes. This will
          help them achieve a crispy exterior while baking. <br />
          8. Bake in the preheated oven for about 25-30 minutes or until the
          potatoes are crispy and golden brown. <br />
          9. Once they're done, remove them from the oven, let them cool for a
          minute, and serve them hot as a delicious and crispy snack or a side
          dish.
          <br />
          <small>
            <center>
              Enjoy these as a delightful addition to any meal or as a tasty
              standalone snack!
            </center></small
          >
        </p>
        <center>
          <div class="recipes">
            <iframe
              style="margin-left: -45px"
              width="859 px"
              height="483 px"
              class="video-box"
              src="https://www.youtube.com/embed/Aqc9mcVKgo4?si=0xXfuKhGtrnPr335"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
              >
            </iframe>
          </div>
        </center>
      </div>

      <hr />

      <!-- RECIPE 3 -->
      <div class="recipes hidden">
        <img src="../assets/img/recipes/nohut.jpg" alt="" />
        <h3 style="margin-top: 10px; margin-bottom: 10px">
          <center>Spicy Turkish Chickpea Salad, Nohut Piyazi</center>
        </h3>
        <p style="padding-left: 10px">
          <b style="font-size: 24px; text-decoration: underline"
            >Ingredients:</b
          >

          <br />

          250 g chickpeas (soaked overnight and cooked), ¼ cup Olive oil, 50 ml,
          extra 2 tbsp to fry the chickpeas, 1 onion (thinly sliced into
          crescents), 2 garlic cloves (chopped), 1 red pepper (thinly sliced), 2
          sun dried tomatoes (finely sliced), 2 tsp paprika powder, 1/2 tsp
          ground cumin, 1/2 tsp chili / red pepper flakes (pul biber), 1 tsp
          ground sumac, 2 tbsp freshly squeezed lemon juice, 1 cup chopped
          parsley, 5 - 6 leaves fresh basil and 2 tsp salt or to taste

          <br />
          <br />

          <b style="font-size: 24px; text-decoration: underline"
            >Instructions:</b
          >

          <br />

          1. Soak the chickpeas overnight, drain and cook in simmering water for
          1.5 hours until soft. <br />
          2. Drain and set aside. Alternatively use canned cooked chickpeas.
          <br />
          3. In a pan, heat up 2 tbsp oil or olive oil and add the chickpeas.
          <br />
          4. Add 1 tsp salt and 2 tsp paprika, stir and cook for 5 minutes until
          chickpeas are red and fragrant. <br />
          5. Set aside the chickpeas, scrape all the spices from the pan. <br />
          6. Chop the onions, garlic, red pepper and the sun dried tomatoes and
          set aside. <br />
          7. Heat the olive oil in a pan over medium heat, add the onions and
          garlic. <br />
          8. Stir and cook for 3 - 4 minutes until the onions are slightly soft
          and the garlics are fragrant. <br />
          9. Add the chopped red peppers, dried tomatoes and 1/2 tsp salt. Stir
          and cook for 2 minutes. <br />
          10. Turn off the heat, let it cool down and add ½ tsp cumin, ½ tsp
          chili flakes, 1 tsp sumac. <br />
          11. Add the mixture over the chickpeas together. <br />
          12. Mix to combine the spices with the ingredients. <br />
          13. Finely chop the parsley and fresh basil and add into the bowl.
          <br />
          14. Squeeze 2 tbsp of lemon juice and add into the ingredients. <br />
          15. Gently mix the ingredients to combine without bruising the herbs.
          <br />
          16. Serve in a bowl
          <small
            ><center>
              Enjoy with flatbread as a starter or serve as a salad/side dish!
            </center></small
          >
        </p>
        <center>
          <div class="recipes">
            <iframe
              style="margin-left: -45px"
              width="859 px"
              height="483 px"
              class="video-box"
              src="https://www.youtube.com/embed/EtpwOvjCNEI?si=ndrfqWbeen8r42ML"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
              >
            </iframe>
          </div>
        </center>
      </div>

      <hr />

      <!-- RECIPE 4 -->
      <div class="recipes hidden">
        <img src="../assets/img/recipes/cream-mushroom-soup.jpg" alt="" />
        <h3 style="margin-top: 10px; margin-bottom: 10px">
          <center>Creamy Mushroom Soup</center>
        </h3>
        <p style="padding-left: 10px">
          <b style="font-size: 24px; text-decoration: underline"
            >Ingredients:</b
          >

          <br />

          100g Mushrooms (sliced), 1/2 cup Heavy Cream, 2 tbsp Butter, 3 cloves
          Garlic (chopped), 1 small Onion (chopped), Fresh Parsley (chopped),
          1/2 tsp Italian Seasoning, 1/2 tsp Black Pepper Powder, 1 cup Chicken
          Stock, 2 tbsp Cornstarch Slurry (2 tbsp cornstarch mixed with 2 tbsp
          water)

          <br />
          <br />

          <b style="font-size: 24px; text-decoration: underline"
            >Instructions:</b
          >

          <br />

          1. Clean and slice the mushrooms. <br />
          2. In a pot, melt the butter over medium heat. Add chopped garlic and
          onions. Saute until they're soft and fragrant. <br />
          3. Add the sliced mushrooms to the pot and cook until they're tender
          and have released their moisture. <br />
          4. Season the mushroom mix with Italian seasoning, black pepper, and a
          pinch of salt. <br />
          5. Pour in the chicken stock and bring the mixture to a simmer. Allow
          it to cook for a few minutes. <br />
          6. Stir in the cornstarch slurry. This will help thicken the soup to
          your desired consistency. Let it simmer for a few more minutes. <br />
          7. Lower the heat and pour in the heavy cream. Stir it in gently to
          combine with the mushroom mixture. Let it warm through without
          boiling. <br />
          8. Garnish with freshly chopped parsley. Taste and adjust the
          seasoning if necessary. <br />
          9. Ladle the creamy mushroom soup into bowls and serve it warm.
        </p>
        <center>
          <div class="recipes">
            <iframe
              style="margin-left: -45px"
              width="859 px"
              height="483 px"
              class="video-box"
              src="https://www.youtube.com/embed/auv8efTLSxk?si=m4W08uKIYFZ11cCB"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
              >
            </iframe>
          </div>
        </center>
      </div>

      <hr />

      <!-- RECIPE 5 -->
      <div class="recipes hidden">
        <img src="../assets/img/recipes/garlic-chicken.jpg" alt="" />
        <h3 style="margin-top: 10px; margin-bottom: 10px">
          <center>Spicy Garlic Chicken</center>
        </h3>
        <p style="padding-left: 10px">
          <b style="font-size: 24px; text-decoration: underline"
            >Ingredients:</b
          >

          <br />

          <b>Marination:</b>
          Chicken (Boneless cubes) - 300 grams, Ginger Garlic Paste - 1 tbsp,
          Lemon Juice - ½, Salt - ½ tsp, Black Pepper Powder - ½ tsp and Red
          Chilli Powder - ½ tsp

          <br />

          <b>Other ingredients:</b>
          Oil - 2 tbsp + 2 tbsp, Garlic (finely chopped) - 3 tbsp, Red Chilli
          Powder - ½ tsp, Black Pepper Powder - ½ tsp, Salt - ¼ tsp, Tomato
          Ketchup - ¼ Cup, Soy Sauce - 1 tsp, Water - ¼ Cup and Coriander leaves
          (chopped) - 2 tbsp

          <br />
          <br />

          <b style="font-size: 24px; text-decoration: underline"
            >Instructions:</b
          >

          <br />

          1. Marinate the chicken with all the required ingredients and set
          aside for 10 minutes. <br />
          2. Heat 2 tbsp oil in a pan. Add the chicken and cook for 5 minutes,
          flipping it occasionally. Set this aside. <br />
          3. Heat oil in another pan. Add the garlic and saute on medium heat
          until golden brown. Add water, red chilli powder, pepper powder, salt,
          ketchup and soy sauce. <br />
          4. Add the chicken and cook until the sauce coats the chicken well.
          <br />
          5. Garnish with coriander leaves and serve.
        </p>
        <center>
          <div class="recipes">
            <iframe
              style="margin-left: -45px"
              width="859 px"
              height="483 px"
              class="video-box"
              src="https://www.youtube.com/embed/F0WJ107nEwg?si=8mdmOMVbmNtEFR6q"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            >
              >
            </iframe>
          </div>
        </center>
      </div>
    </main>

    <!-- FOOTER -->
    <div class="footer">
      <footer class="container">
        <small class="container text">
          <center>© 2023 FlavorVerse. All rights reserved.</center>
        </small>
      </footer>
    </div>

    <script defer src="../assets/js/scroll.js"></script>
    <script src="../assets/js/index.js"></script>
  </body>
</html>
