<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/authentication.css" />
    <title>Registration</title>
    </style>
  </head>
  <body>

    <div class="form-container" style="margin-top: -40px">
      <form
        action=""
        method="post"
        onsubmit="return validateRegistrationForm()"
        onkeyup="validateRegistrationForm()"
        enctype="multipart/form-data"
      >
        <h3>Register</h3>

        <input
          type="text"
          class="text-field"
          id="name"
          name="name"
          placeholder="Enter your name"
        />
        <span id="nameErr" class="err-text"></span>

        <input
          type="text"
          class="text-field"
          id="email"
          name="email"
          placeholder="Enter your email"
        />
        <span id="emailErr" class="err-text"></span>

        <input
          type="username"
          class="text-field"
          id="username"
          name="username"
          placeholder="Enter your username"
        />
        <span id="unameErr" class="err-text"></span>

        <input
          type="password"
          class="text-field"
          id="password"
          name="password"
          placeholder="Enter your password"
        />
        <span id="passErr" class="err-text"></span>

        <input
          type="password"
          class="text-field"
          id="cpassword"
          name="cpassword"
          placeholder="Retype your password"
        />
        <span id="cpassErr" class="err-text"></span>

        <div id="showPass-card"></div>

        <input
          type="button" onclick="takeToPublicIndex()"
          name="submit"
          value="register now"
          class="form-btn"
        />
        <p>
          Already have an account?
          <a id="link-color" href="login.html">Login</a>
        </p>
      </form>
    </div>

    <script src="../assets/js/authentication.js"></script>
  </body>
</html>
