<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Filter And Search</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../assets/css/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      <div id="search-container">
        <input
          type="search"
          id="search-input"
          placeholder="Search any recipe"
        />
        <button id="search">Search</button>
        <button id="home-btn"><a href="../index.html">Home</a></button>
      </div>
      <div id="buttons">
        <button class="button-value" onclick="filterProduct('all')">All</button>
        <button class="button-value" onclick="filterProduct('Starter')">
          Starter
        </button>
        <button class="button-value" onclick="filterProduct('Maincourse')">
          MainCourse
        </button>
        <button class="button-value" onclick="filterProduct('Dessert')">
          Dessert
        </button>
      </div>
      <div id="recipes"></div>
    </div>

    <!-- Script -->
    <script>
      let recipes = {
        data: [
          {
            recipeName: "Glutinous Rice Cake",
            category: "Starter",
            link: "recipes.html",
            image: "../assets/img/recipes/ricecake.jpg",
          },
          {
            recipeName: "Garlic Cheese Potatoes",
            category: "Starter",
            link: "recipes.html",
            image: "../assets/img/recipes/garlic potato.jpg",
          },
          {
            recipeName: "Turkish Chickpea Salad",
            category: "Starter",
            link: "recipes.html",
            image: "../assets/img/recipes/nohut.jpg",
          },
          {
            recipeName: "Creamy Mushroom Soup",
            category: "Starter",
            link: "recipes.html",
            image: "../assets/img/recipes/cream-mushroom-soup.jpg",
          },
          {
            recipeName: "Meat and Rice Kabsa",
            category: "Maincourse",
            link: "maincourse.html",
            image: "../assets/img/recipes/kabsa.jpg",
          },
          {
            recipeName: "Chicken Biryani",
            category: "Maincourse",
            link: "maincourse.html",
            image: "../assets/img/recipes/chicken-biryani-.jpg",
          },
          {
            recipeName: "Egg Fried Rice",
            category: "Maincourse",
            link: "maincourse.html",
            image: "../assets/img/recipes/fried egg.jpg",
          },
          {
            recipeName: "Strawberry Cream Donut",
            category: "Dessert",
            link: "dessert.html",
            image: "../assets/img/recipes/cream-donut.jpg",
          },
          {
            recipeName: "Swiss Roll Cake",
            category: "Dessert",
            link: "dessert.html",
            image: "../assets/img/recipes/Japanese-Roll-Cake-.jpg",
          },
          {
            recipeName: "Waffle",
            category: "Dessert",
            link: "dessert.html",
            image: "../assets/img/recipes/fluffy-waffles-r.jpg",
          },
        ],
      };

      for (let i of recipes.data) {
        //Create Card
        let card = document.createElement("div");

        //Card should have category and should stay hidden initially
        card.classList.add("card", i.category, "hide");

        //image div
        let imgContainer = document.createElement("div");
        imgContainer.classList.add("image-container");

        //img tag
        let image = document.createElement("img");
        image.setAttribute("src", i.image);
        imgContainer.appendChild(image);
        card.appendChild(imgContainer);

        //container
        let container = document.createElement("div");
        container.classList.add("container");

        //recipe name
        let name = document.createElement("h2");
        name.classList.add("recipe-name");
        name.innerText = i.recipeName.toUpperCase();
        container.appendChild(name);

        //link
        let link = document.createElement("a");
        link.setAttribute("href", i.link);
        link.innerText = "View Recipe Page";
        container.appendChild(link);

        card.appendChild(container);
        document.getElementById("recipes").appendChild(card);
      }

      function filterProduct(value) {
        //Button class code
        let buttons = document.querySelectorAll(".button-value");
        buttons.forEach((button) => {
          //check if value equals innerText
          if (value.toUpperCase() == button.innerText.toUpperCase()) {
            button.classList.add("active");
          } else {
            button.classList.remove("active");
          }
        });
        //select all cards
        let elements = document.querySelectorAll(".card");

        //loop through all cards
        elements.forEach((element) => {
          //display all cards on 'all' button click
          if (value == "all") {
            element.classList.remove("hide");
          } else {
            //Check if element contains category class
            if (element.classList.contains(value)) {
              //display element based on category
              element.classList.remove("hide");
            } else {
              //hide other elements
              element.classList.add("hide");
            }
          }
        });
      }

      //Search button click
      document.getElementById("search").addEventListener("click", () => {
        //initializations
        let searchInput = document.getElementById("search-input").value;
        let elements = document.querySelectorAll(".recipe-name");
        let cards = document.querySelectorAll(".card");

        //loop through all elements
        elements.forEach((element, index) => {
          //check if text includes the search value
          if (element.innerText.includes(searchInput.toUpperCase())) {
            //display matching card
            cards[index].classList.remove("hide");
          } else {
            //hide others
            cards[index].classList.add("hide");
          }
        });
      });

      //Initially display all recipes
      window.onload = () => {
        filterProduct("all");
      };
    </script>
  </body>
</html>
