@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "ObviouslyWide-Medium";
  src: url(../public/ObviouslyWide-Medium.otf);
}

.grad-bg {
  background-color: linear-gradient(180deg, #00eaff, #4d3589, #badaff, #0025ce);
}
